.sortFilterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 12px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

.productGridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0FA958;
  padding: 1em;
  border-radius: 10px;
}

.productGridItem {
  background-color: #ffffff;
  border: 1px solid lightgrey;
  padding: 1em;
  font-size: 20px;
  text-align: center;
  object-position: center;
}

.productGridItem>img {
  max-width: 25vw;
  padding-bottom: 1em;
}

.boldProduct {
  font-weight: bold;
}

.greenCO2 {
  color: #0FA958;
}

.selections {
  border-radius: 10px;
  font-weight: bold;
  padding: 0.25em;
}
