.pageHeadline {
  text-align: center;
  padding: 0.4em;
  font-size: 22px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

.productGridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0FA958;
  padding: 1em;
  border-radius: 10px;
}

.productGridItem {
  background-color: #ffffff;
  border: 1px solid lightgrey;
  padding: 1em;
  font-size: 20px;
  text-align: center;
  object-position: center;
}

.productGridItem>img {
  max-width: 25vw;
}

.addToCompareButton {
  content: "Compare";
  padding: 5px;
}

.removeFromCompareButton {
  content: "Remove";
  background-color: red;
  padding: 5px;
}

.productPageContainer {
  display: flex;
}

/*
CompareItemsDrawer
*/

.drawerOpen {
  width: 100%;
  display: flex;
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  background-color: #ffffff;
  bottom: 0;
  position: absolute;
  z-index: 3;
}

.drawerClosed {
  visibility: hidden;
  width: 0;
  height: 0;
}

.drawerContent {
  margin-right: auto;
  display: flex;
}

.drawerButtons {
  display: flex;
  flex-direction: column;
}