.footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #E6E6E6;
    color: #000000;
    padding-left: 2em;
    position: absolute;
    bottom: 0;
    height: 2.5rem; 
}

.footerText {
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #000000;
    margin: auto;
}