.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex: 4em 1em 1em;
  align-items: center;
  color: black;
}

.pageName {
  font-family: 'hobo-std';
  font-size: 50px;
  color: #0FA958;
  text-decoration: none;
  margin-right: auto;
}

.logoWithText {
  display: flex;
  color: #0FA958;
  align-items: center;
  text-decoration: none;
  margin-right: 1em;
}