.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex: 4em 1em 1em;
  align-items: center;
  background-color: #001647;
  color: #fff;
  padding: 1em;
}

.pageName {
  font-family: 'hobo-std';
  font-size: 50px;
  color: #FEFEFE;
  text-decoration: none;
  margin-right: auto;
}

.logoWithText {
  display: flex;
  color: #FEFEFE;
  align-items: center;
  text-decoration: none;
  margin-left: 1em;
}