.subHeader {
  font-size: xx-large;
  text-align: center;
  margin: 60px;
}

.brandTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.brandTextContainer>div {
  margin: 20px;
}

.brandInfo {
  display: flex;
  grid-template-columns: 1fr 2fr;
}

.infoView {
  display: flex;
  width: 80%;
  margin: auto;
}