a {
    text-decoration: none;
    color: #000000;
}


input {
    text-align: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0FA958;
    font-weight: 550;
    font-style: italic;
}

.content {
    padding-top: 170px;
    width: 100%;
    padding-bottom: 2.5rem;
}

.container {
    position: relative;
    min-height: 100vh;
    font-family: 'Open Sans';
}

button {
    cursor: pointer;
}