.compareItem {
  flex: 1;
  text-align: center;
  margin: 5px;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compareItem > div {
  margin-bottom: 20px;
}

.compareItem > img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.generalStats {
  display: flex;
  flex-direction: column;
}