@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.firstSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: -10px;
}

.secondSubContainer {
  background-color: #0FA958;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
  align-items: center;
}

.balloonContainer {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.treeContainer {
  margin-left: 20px;
}

.lightBulbAndWaveContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.textContainer {
  width: 50%;
}

.infoTextTitle {
  font-family: 'Rancho', cursive;
  font-size: 45px;
  color: white;
  white-space: nowrap;
  margin-left: -15px;
}

.infoText {
  font-size: 24px;
  color: white;
}